<html>
	<head></head>
<body style="background-color:rgb(200,200,200);hsl(10%,20%,100%)">
	<img src="C:\Users\SAURABH KUMAR\Pictures\Camera Roll\WIN_20190621_18_38_03_Pro.jpg" alt="saurabh"
    width="100" >
	<li textcolor="red">Saurabh is here</li>
	<li>press link</li> 
	<a href="https://www.youtube.com"> <button style="color:red">click me</button>
	</a>
	<p style="hsl(10%,20%,100%);color:green;text-align:center;font-family:verdana;font-size:30px;border:2px solid tomato;">
	<i>hello everyone saurabh kumar is here.<br></i>
	i am learning html and seriousely its  crazy and easy.
	</p>
</body>
</html>;